<!-- Show image thumb if exist -->
<% if @property.images? %>
  <% @property.images.each_with_index do |image, index| %>
    <!-- Don`t show image.thumb.url if property not created yet -->
    <% if @property.id.to_i != 0 %>
      <%= image_tag image.thumb.url %>
      <!--Don`t show a link if this is the only one image or property not created yet -->
      <% if @property.images.size != 1 && @property.id != 0 %>        
        <%= link_to "Delete", property_image_path(@property, index), :method => :delete, data: { confirm: "Are you sure you want to delete this image?" } %>
      <% end %>
    <% end %>
  <% end %>
  <%= @property.images.size.to_i %>
<% end %>

<div id="locationField">
  <p>   
    <%= f.label :property_address %><br />
    <%= f.text_field :property_address, id: :autocomplete, placeholder: :"Enter your full address", onFocus: :"geolocate()" %>
    <p class='error'>
      <%= show_errors(@property, :country) %>
      <%= show_errors(@property, :locality) %>
      <%= show_errors(@property, :route) %>
      <%= show_errors(@property, :street_number) %>
    </p>
  </p>
</div>

  <p>
    <%= f.label :property_type %><br />
    <%= f.select :property_type, ['room', 'apartment', 'house', 'land'], id: :property_type, include_blank: 'Please choose' %>
    <% f.text_field :property_type, id: :property_type %>
    <p class='error'>
      <%= show_errors(@property, :property_type) %>
    </p>
  </p>
  
  <p>
    <%= f.label :number_of_rooms %><br />
    <%= f.select :number_of_rooms, [0, 1, 2, 3, 4, 5], id: :number_of_rooms, include_blank: 'Please choose' %>
    <% f.text_field :number_of_rooms, id: :number_of_rooms %>
    <p class='error'>
      <%= show_errors(@property, :number_of_rooms) %>
    </p>
  </p>
        
  
  <p>
    <%= f.label :area_size %><br />
    <%= f.text_field :area_size, id: :area_size %>
    <p class='error'>
      <%= show_errors(@property, :area_size) %>
    </p>
  </p>
  
  <p>
    <%= f.label :property_price %><br />
    <%= f.text_field :property_price, id: :property_price %>
    <p class='error'>
      <%= show_errors(@property, :property_price) %>
    </p>
  </p>
  
  <%= f.hidden_field :country, id: :country %>
  <%= f.hidden_field :administrative_area_level_1, id: :administrative_area_level_1 %>
  <%= f.hidden_field :locality, id: :locality %>
  <%= f.hidden_field :route, id: :route %>
  <%= f.hidden_field :street_number, id: :street_number %>
  <%= f.hidden_field :postal_code, id: :postal_code %>