<h1>Properties</h1>
<script>
  $(document).ready(function() {

    $('.js-example-basic-single').select2();
    $("#country").select2({
      minimumResultsForSearch: -1
    });
    $("#administrative_area").select2();
    $("#locality").select2();
    $("#property_type").select2({
      minimumResultsForSearch: -1
    });
  });
</script>

<%= form_tag search_properties_path, method: :get do %>
  <!-- Select unique data from Property params with first 'Select' value -->
  <%= label_tag :country %>
  <%= select_tag :country, options_from_collection_for_select(Address.select('distinct country'), :country, :country, :selected=> params[:country]), prompt: "Select" %>
  <%= label_tag :administrative_area %>
  <%= select_tag :administrative_area, grouped_options_for_select(@opt1_grouped, params[:administrative_area]), prompt: "Select" %>
  <%= label_tag :locality %>
  <%= select_tag :locality, grouped_options_for_select(@opt2_grouped, params[:locality]), prompt: "Select" %>
  <%= label_tag :property_type %>
  <%= select_tag :property_type, options_from_collection_for_select(Property.select('distinct property_type'), :property_type, :property_type, :selected=> params[:property_type]), prompt: "Select" %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<script>
  $('select option')
    .filter(function() {
      return !this.text || $.trim(this.text).length == 0;
    })
  .remove();
</script>

<table class="table">
  <thead>
    <tr>
      <th>Photo:</th>
      <th>Address:</th>
      <th>Type:</th>
      <th>Rooms:</th>
      <th>Size:</th>
      <th>Price:</th>     
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @property.each do |property| %>
      <tr>
        <td>
          <% if property.images? %>
            <%= image_tag(property.images.first.url(:small_thumb)) %>
          <% end %>
        </td>
        <td>
            <%= property.address.country %>,
            <%= property.address.administrative_area_level_1 %>,
            <%= property.address.locality %>,
            <%= property.address.route %>,
            <%= property.address.street_number %>
        </td>
        <td><%= property.property_type %></td>
        <td><%= property.number_of_rooms %></td>
        <td><%= property.area_size %></td>
        <td><%= property.property_price %></td>
        <td><%= link_to 'Show', property %></td>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @property %>
<%= page_entries_info @property %>