<h1>Properties</h1>

<table>
  <thead>
    <tr>
      <th>Photo:</th>
      <th>Address:</th>
      <th>Type:</th>
      <th>Rooms:</th>
      <th>Size:</th>
      <th>Price:</th>     
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @property.each do |property| %>
      <tr>
        <td>
          <% if property.images? %>
            <%= image_tag(property.images.first.url(:small_thumb)) %>
          <% end %>
        </td>
        <td><%= property.property_address %></td>
        <td><%= property.property_type %></td>
        <td><%= property.number_of_rooms %></td>
        <td><%= property.area_size %></td>
        <td><%= property.property_price %></td>
        <td><%= link_to 'Show', property %></td>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property', new_property_path %>