<h1>New Property</h1>
<%= form_for :property, url: {action: "create"} do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
  <%= f.label :images %><br />
  <%= f.file_field :images, multiple: true %>
  <p class='error'>
    <%= show_errors(@property, :images) %>
  </p>
  <%= f.submit %>
<% end %>
<%= link_to 'Back', properties_path %>
<!-- It does not request google maps javascript if the initAutocomplete function is initialized
and attached to the windows. -->
<script type="text/javascript">
  if(window.google) {
    initAutocomplete();
  } else {
    $.ajax("https://maps.googleapis.com/maps/api/js?key=AIzaSyCFCnFowLyqukQ-jEv2EP245ev78n863y8&libraries=places&callback=initAutocomplete", {
      crossDomain: true,
      dataType: 'script'
    });
  }  
</script>