<!-- Show image thumb if exist -->
<% if @property.images? %>
  <% @property.images.each do |i| %>
    <%= link_to(image_tag(i.thumb.url, alt: 'Image'), i.url, target: '_blank')%>
  <% end %>
<% end %>

<p>
  <strong>Address:</strong>
  <%= @property.property_address %>
</p>

<p>
  <strong>Type:</strong>
  <%= @property.property_type %>
</p>

<p>
  <strong>Rooms:</strong>
  <%= @property.number_of_rooms %>
</p>

<p>
  <strong>Size:</strong>
  <%= @property.area_size %>
</p>

<p>
  <strong>Price:</strong>
  <%= @property.property_price %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>