<!-- Show image thumb if exist -->
<% if @property.images? %>
  <% @property.images.each do |i| %>
    <%= image_tag i.thumb.url %>
  <% end %>
<% end %>

<!-- Form for adding more images -->  
<%= form_for @property, url: property_images_path(@property), method: :post do |f| %>
  <%= f.file_field :images, multiple: true %>
  <p class='error'>
    <%= show_errors(@property, :images) %>
  </p>
  <%= f.submit "Add More Images" %>
<% end %>

<p>
  <strong>Address:</strong>
  <%= @property.property_address %>
</p>

<p>
  <strong>Type:</strong>
  <%= @property.property_type %>
</p>

<p>
  <strong>Rooms:</strong>
  <%= @property.number_of_rooms %>
</p>

<p>
  <strong>Size:</strong>
  <%= @property.area_size %>
</p>

<p>
  <strong>Price:</strong>
  <%= @property.property_price %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>