<h1>Contact us</h1>

<%= form_for :contact, url: {action: "create"} do |f| %>
  <table align="center" class="table-property">
  <tr>
    <td>
    <%= f.label :email %><br>
    <%= f.text_field :email %><br>
    <p class='alert-danger'>
      <%= show_errors(@contact, :email) %>
    </p>
    </td>
   </tr>
    
  <tr>
    <td>
    <%= f.label :message %><br>
    <%= f.text_area :message %>
    <p class='alert-danger'>
      <%= show_errors(@contact, :message) %>
    </p>
    </td>
  </tr>
    
  <tr>
    <td>
    <%= f.submit 'Send message', class: "btn btn-primary" %><br>
    </td>
  </tr>
  </table>
<% end %>
  